<div>
    Welcome
    <div style="margin-bottom: 20px;">
        You can chat publicly <a href="/public/chat">here</a>     OR       or you can chat privately <a href="/private"> here</a><br><br>
    </div>
</div>